//
template(name="hero_modal")
   // Material Modal Structure
   #hero_modal.modal.modal-fixed-footer
      .modal-content.center
         +hero_modal_title_container
         #signup_form
            +hero_modal_subtitle_container
            +hero_modal_text_container
            .black-text
               +atForm
         #confirmation.hide
            .row
               br
               i.large.green-text(class="#{modal.icon}")
               +hero_modal_confirmation_title_container
               +hero_modal_confirmation_subtitle_container
               +hero_modal_confirmation_text_container

      .modal-footer
         a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Close

//
template(name="hero_modal_title_container")
   +hero_modal_title

//
template(name="hero_modal_title")
   h4.black-text(name="title")= modal.title

//
template(name="hero_modal_subtitle_container")
   +hero_modal_subtitle

//
template(name="hero_modal_subtitle")
   h5.black-text(name="modal.subTitle" class="{{#if currentUser}}edit{{/if}}")= modal.subTitle


//
template(name="hero_modal_text_container")
   +hero_modal_text

//
template(name="hero_modal_text")
   p.black-text(name="modal.text")= modal.text

//
template(name="hero_modal_confirmation_title_container")
   +hero_modal_confirmation_title

//
template(name="hero_modal_confirmation_title")
   h2.black-text(name="modal.confirmationTitle")= modal.confirmationTitle


//
template(name="hero_modal_confirmation_subtitle_container")
   +hero_modal_confirmation_subtitle

//
template(name="hero_modal_confirmation_subtitle")
   p.black-text(name="modal.confirmationSubTitle")= modal.confirmationSubTitle

//
template(name="hero_modal_confirmation_text_container")
   +hero_modal_confirmation_text

//
template(name="hero_modal_confirmation_text")
   h5.black-text(name="modal.confirmationText" class="{{#if currentUser}}edit{{/if}}")= modal.confirmationText
