template(name="eventss")
    #eventss.container.section.scrollspy
        .section
            .row
                +events_top
                +events_bottom
    +events_creator
//
template(name="events_top")
    .col.s12.center
        each eventss
            unless location
                +events_icon_container
                +events_main_title_container
                +events_action_button
//
template(name="events_action_button")
    //if currentUser
        a.btn-floating.btn-large.btn-edit.waves-light.green.right.modal-trigger(href='#events-creator')
            i.mdi-content-add Add
//
template(name="events_remove_button")
    // TODO:
    //if currentUser
        i.remove-item.mdi-action-highlight-remove.left

//
template(name="events_icon_container")
    +events_icon

//
template(name="events_icon")
    i.pink-text(class="#{icon} medium" name="icon" )

//
template(name="events_main_title_container")
    +events_main_title

//
template(name="events_main_title")
    h4.pink-text(name="title")= title
    h5
        i.red-text Coming soon!

// *** //
template(name="events_bottom")
    ul.scrollfire.events
        each eventss
            if location
                li
                    .col.s12.m6.l4
                        .card.white
                            +events_remove_button
                            .card-content.black-text
                                +events_title_container
                                br
                                +events_location_container
                                br
                                p
                                    i= overFlowText
                            .card-action
                                a.modal-trigger.pink-text(href="#modal-#{_id}")
                                    | READ MORE
                +events_modal


//
template(name="events_title_container")
    +events_title

//
template(name="events_title")
    span.pink-text.mdi-action-event.medium
    span.black-text
        b(name="title")= title


//
template(name="events_location_container")
    +events_location

//
template(name="events_location")
    b.black-text.light Location: &nbsp;
    span(name="location")= location

