template(name="hero")
    #index-banner.parallax-container
        each hero
            .section.no-pad-bot
                #promo-banner.container.section.scrollspy
                    br
                    br
                    +hero_title_container
                    .row.center
                        +hero_subtitle_container
                    .row.center
                        br
                        br
                        unless currentUser
                            +hero_text_container
                            a#download-button.btn-large.waves-effect.waves-light.lighten-1.modal-trigger.cyan(
                            href='#hero_modal')= button
                    br
                    br
            +hero_img_container

            +hero_modal

//
template(name="hero_title_container")
    +hero_title

//
template(name="hero_title")
    h1.header.center.text-lighten-2.cyan-text(name="title")= title

//
template(name="hero_subtitle_container")
    +hero_subtitle

//
template(name="hero_subtitle")
    h5.header.col.s12.white-text(name="subTitle")= subTitle

//
template(name="hero_text_container")
    +hero_text

//
template(name="hero_text")
    p.white-text(name="text")
        +markdown
            #{text}


//
template(name="hero_img_container")
    +hero_img
//
template(name="hero_img")
    .parallax.scrollfire.hero(name="img")
        img(src='#{img}', alt='#{alt}')


